@import '../../app/variables.module.scss';

$menu-bg: red;

// モバイル
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $menu-bg;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.appName {
        font-size: 24px;
    }
}
@media screen and (min-width: $mobile-size) {
    .header {
        background-color: blue;
    }
}
