@import '../../app/variables.module.scss';

$day-item-size: 64px;

.diaryList {
    display: flex;
    flex-flow: column;
    width: 100%;
    .diaryItem {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        height: $day-item-size;
        width: calc(100%);
        border: 1px solid white;
        background: white;
        border-radius: 8px;
        margin-bottom: 16px;
        cursor: pointer;

        .diaryDate {
            width: calc($day-item-size - 16px);
            height: calc($day-item-size - 16px);
            padding: 8px;
            line-height: calc($day-item-size - 24px);
            text-align: center;
            border-right: 1px solid #c3c3c3;
            .diaryNum {
                font-size: 24px;
                height: 24px;
            }
            .diaryDay {
                font-size: 10px;
                height: 10px;
            }
        }
        .diary {
            width: calc(100% - $day-item-size - 1px - 16px);
            font-size: 12px;
            padding: 8px;
            overflow: hidden;
            white-space: pre-wrap;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }
    }
}
