@import '../../node_modules/kiji-tech-ui-component/dist/index.css';
@import './variables.module.scss';
body {
    margin: 0 0;
    padding: 0;
}
form {
    width: 100%;
}

.contents {
    width: calc(100vw - 32px);
    display: flex;
    flex-flow: column;
    margin: 16px auto;
    max-width: 1200px;
    align-items: center;
}

$button-width: 120px;

.buttonWidth {
    width: $button-width;
}

.buttonGroup {
    max-width: 900px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.bar {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid $gray3;
}

.space {
    margin: 8px 0;
}
