@import '../../app/variables.module.scss';

.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: $content-padding-size;
    border-top: 1px solid $gray3;
    height: $header-height;
    background-color: white;
    .copylight {
        color: $gray2;
        font-size: 12px;
        text-align: center;
        margin-top: 8px;
    }
}
