.layout {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    max-height: 100vh;
    .space {
        margin: 16px;
    }
    .section {
        border-right: 1px solid #c3c3c3;
        padding: 0 16px;
        &:last-child {
            border-right: 0;
        }
    }
    .calendar {
        width: calc(100% / 4);
    }
    .dairy {
        width: calc(100% / 2);
    }
    .right {
        width: calc(100% / 4);
        .correctionView {
            height: calc(100vh - 400px);
            margin-bottom: 16px;
        }
        .wordView {
            height: 350px;
            background: blue;
        }
    }
}
