.diaryWriter {
    position: absolute;
    width: 100vw;
    .diaryLabel {
        position: absolute;
        font-size: 12px;
        top: 4px;
        left: 8px;
        padding: 4px 16px;
        border-radius: 16px;
        background-color: #c2c2c2;
    }
    .diaryTextAre {
        height: 200px;
        width: calc(100% - 64px);
        padding: 40px 16px 0;
        display: flex;
        justify-content: center;
    }
}
