.corrections {
    overflow-y: auto;
    height: 100%;
    border-radius: 8px;
    background: white;
    .correction {
        border-bottom: 1px solid #cecece;
        &:last-child {
            border-bottom: 0px;
        }
        div {
            margin-bottom: 4px;
        }
        .en {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 4px;
            background: rgba(221, 221, 221, 0.5);
            .enText {
                width: calc(100% - 36px);
            }
        }
        .body {
            padding: 8px;
            .writeJa,
            .writeEn {
                font-size: 12px;
            }
            .writeJa {
                color: gray;
            }
            .writeEn {
                margin-left: 16px;
            }
            .info {
                margin-left: 24px;
                font-size: 12px;
            }
            .points {
                margin-left: 16px;
                font-size: 12px;
            }
        }
    }
}
